# Excalidraw Brute Export CLI

- What: Uses playwright to run a headless firefox browser to export Excalidraw
  diagrams to svg/png files. Using a browser bypasses certain bugs that happen
  with other projects that attempt to export by emulating the DOM (without a
  browser).
- Why:
  - To allow automated export of Excalidraw diagrams to svg/png files via the
    command line.
  - Currently, Excalidraw can only be exported by a human clicking on the
    "Export image" button.
  - Addresses/mitigates
    [excalidraw/excalidraw#1261](https://github.com/excalidraw/excalidraw/issues/1261)
    `excalidraw CLI #1261` which is an open feature request on the Excalidraw
    project.
  - Addresses/mitigates
    [JRJurman/excalidraw-to-svg#6](https://github.com/JRJurman/excalidraw-to-svg/issues/6)
    `Error rendering edge-labels. #6`.
  - Addresses/mitigates
    [Timmmm/excalidraw_export#6](https://github.com/Timmmm/excalidraw_export/issues/6)
    `Error rendering edge-labels. #6`.
- Related Projects
  - [JRJurman/excalidraw-to-svg](https://github.com/JRJurman/excalidraw-to-svg)
    uses jsdom to simulate the DOM, then runs Excalidraw+react in nodejs, loads
    the diagram files and exports them.
  - [Timmmm/excalidraw_export](https://github.com/Timmmm/excalidraw_export)
    similar to `JRJurman/excalidraw-to-svg` but simplifies the code and also
    embeds SVG fonts.

## Usage

<!--
{{ snippet('examples/simple.sh',
            start='# SNIPPET_START',
            end='# SNIPPET_END',
            decomentify='nl',
            backtickify='bash') }}
-->

CLI usage help:

<!--{{ shell('node src/main.js --help',
             rich='README.help.generated.svg',
             rich_alt='Output of `npx excalidraw-brute-export-cli --help`',
             rich_bg_color='black',
             rich_term='xterm-256color',
             rich_cols=160,
             decomentify=True) }}-->

Tested on:

- WSL2 Ubuntu 20.04, Node `{{ rawsnippet('.nvmrc') }}`.
